body{
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    color: #6b7280;
}
.main-container{
    padding-bottom: 3rem;
    font-family: "Be Vietnam Pro", sans-serif;
}
.main-cover{
    padding-left: 3rem;
    padding-right: 3rem;
}
.main-cover{
    margin: auto;
}

.padding{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.gap-x{
    column-gap: .75em;
}
.logo{
    align-items: center;
}
.navbar-nav{
    list-style: none;
}
.container nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header{
    background-color:  rgb(255, 254, 254) ;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.h-8{
   height: 2em;
}
.navigation ul{
    margin: 0;
 display: flex;
 justify-content: flex-end;
}
.navbar-nav .nav-item .nav-link{
    text-transform: capitalize;
    color: rgb(107 114 128);
    text-decoration: none;
    padding: .375rem .875rem;
    position: relative;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: .025em;
} 
.navbar-nav .nav-item:nth-child(2) a{
  color:  rgb(37 99 235);
  padding-right: 0;
}
.navbar-nav .nav-item:nth-child(3) a{
    padding-right: 0;
}
.navbar-nav .nav-item:nth-child(1) a{
    color:  rgb(37 99 235);
}
.navbar-nav .nav-item:last-child a{
    font-size: .875rem;
    color: rgb(255 255 255);
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235);
    border-radius: .25rem;
}
.home-pg{
    padding-bottom: 9rem;
}
.from-slate{
    --tw-gradient-from: rgb(100 116 139 / 0.1) ;
    --tw-gradient-to: rgb(100 116 139 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.bg-gradient{
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.relative{
   position: relative;
}
.home-grid{
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
}
.home-side{
    margin-top: 2rem;
}
.home-h1{
    font-size: 3rem;
    line-height: 1.25;
    color: rgb(55 65 81);
    font-weight: 600;
    margin-bottom: 1.75rem;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-box-shadow: 0px 0px 6px 5px rgba(222,222,222,1);
   -moz-box-shadow: 0px 0px 6px 5px rgba(222,222,222,1);
    box-shadow: 0px 0px 6px 5px rgba(222,222,222,1);
    border: 6px solid #fff;
}
.swiper-slide{
    padding-top: 9rem;
    width: 540px;
    border-radius: .375rem;
}
.wrapper{
    position: absolute;
}
.wrapper::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 1.25rem;
    display: block;
    background-color:rgb(74 222 128 / .4);
    z-index: -10;
    bottom: .5rem;
}
.before-element::before{
    content: ' ';
    background-image: url('https://coderthemes.com/prompt/tailwind/assets/images/pattern/dot2.svg');
    width: 6rem;
    height: 6rem;
    inset-inline-start: -2rem;
    bottom: -2rem;
    position: absolute;
    z-index: -10;
}
.after-element::after{
    content: ' ';
    background-image: url('https://coderthemes.com/prompt/tailwind/assets/images/pattern/dot5.svg');
    width: 6rem;
    height: 6rem;
    inset-inline-end: 2.5rem;
    top: 6.5rem;
    rotate: 45deg;
    position: absolute;
    z-index: -10;   
}
.view-btn{
    margin-top: 4rem;
}
.view-btn a{
  background-color: #2463eb;
  padding: .75rem 1.25rem .75rem 1.25rem;
  color: #fff;
  transition: all .4s ease-in;
  border-radius: .375rem;
  text-decoration: none;
 text-transform: capitalize;
}
.view-btn a:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
    box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
}
.view-btn a i{
 margin-left: 6px;
}
.dropdown-container{
    display: none;
}
.dropdown-menu{
    cursor: pointer;
    animation: dropdown-menu;
    animation-duration: .4s;
    top: 58px;
    left: 631.941px;
    position: absolute;
    display: grid;
    padding: .7rem;
    background-color: rgb(255 255 255);
    border: 1px solid #6b728011; 
    gap:.4rem;
    z-index: 9999;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 22rem;
    margin-top :1rem;
    border-radius: .375rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.inside-link{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.svg-container{
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bg-blue{
    background-color: rgb(37 99 235 / .1);
}
.bg-blue svg{
    color: rgb(37 99 235);
}
.link-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.menu-link{
    text-decoration: none;
}
.link-name{
    color: #19191b;
    margin-left: 10px;
    font-weight: 500;
    font-size: .875rem;
}
.bg-green{
    background-color: rgb(34 197 94 / .2);
}
.bg-green svg{
    color: rgb(34 197 94);
}
.bg-primary{
    background-color: rgb(37 99 235 / .1);
}
.bg-primary svg{
    color: rgb(37 99 235);
}
.bg-orange{
    background-color: rgb(234 88 12 / .1)
}
.bg-orange svg{
    color: rgb(234 88 12);
}
.bg-yellow{
    background-color: rgb(251 191 36 / .1);
}
.bg-yellow svg{
    color: rgb(251 191 36 );
}
.bg-grey{
    background-color: rgb(0 0 0 / .1);
}
.bg-grey svg{
    color: rgb(0 0 0)
}
.bg-red{
    background-color: rgb(239 68 68 / .1);
}
.bg-red svg{
    color: rgb(239 68 68 );
}
.landing:hover .dropdown-container{
 display: inline-block;
}
@keyframes dropdown-menu{
    from{
        transform: translateY(100%);;
    }
}
.pages{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
}
.text-center{
    text-align: center;
}
.admin-pages{
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.admin-title{
    text-align: center;
}
.dashboard-container ,.acc-setting-container{
 text-decoration: none;
 color: #6b7280;
}
.admin-title h2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.25rem;
    font-weight: 500;
}
.admin-title p{
    margin-bottom: 3.5rem;
}
.new-bar{
 font-weight: 600;
 border-radius: 24px;
 text-transform: capitalize;
 padding: .4rem 1.25rem .4rem 1.25rem;
 background-color: #2563eb1a;
 color: #2563eb;
}
.dashboard-img img,.setting-img img{
 width: 100%;
 height: 100%;
 object-fit: contain;
}
.dashboard-img, .setting-img{
    border: 1px solid #e5e7eb;
    border-radius: .375rem;
    padding: .5rem;
}
.features{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(37 99 235 / .1)   
}
.features h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 1.25rem;
    font-weight: 500;
}
.feature-boxes{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.box{
    padding: .75rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255);
}
.box h5{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    font-size: 1rem;
}
.box i{
    color: #2563eb;
}
.features p{
    margin-bottom: 2.5rem;
}
.btn-2 i{
    margin-right: 6px;
}
.foot h4{
    margin-top: 3.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
}
.foot p a{
    color: #2563eb;
    text-decoration: none;
}
.footer-list{
    margin-top: 1.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-list ul{
    font-size: 1rem;
    gap: .75rem;
    display: flex;
    list-style-type: none;
    font-weight: 500;
}
.footer-list li:first-child:after{
   margin-left: .75rem;
    content: '-';
    display: inline-block;
}
.footer-list li:nth-child(2):after{
    margin-left: .75rem;
    content: '-';
    display: inline-block;
}
.new-bar-foot{
    font-weight: 600;
    border-radius: 24px;
    text-transform: capitalize;
    padding: .3rem .5rem .3rem .5rem;
    background-color: #2563eb1a;
    color: #2563eb;
    font-size: .7rem;
}
.view-btn-foot a{
   background-color: #2463eb;
   padding: .75rem 1.25rem .75rem 1.25rem;
   color: #fff;
   transition: all .4s ease-in;
   border-radius: .375rem;
   text-decoration: none;
   text-transform: capitalize;
}
.view-btn-foot{
    margin-top: 2rem;
}
.view-btn-foot a:hover{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
  box-shadow: 0px 0px 10px 0px rgba(37,99,235,0.5);
}
.end-p{
    margin-top: .75rem;
}